In [51]:
import numpy as np
import matplotlib.pyplot as plt
from math import log2
from math import log
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.metrics import accuracy_score
from sklearn import tree
import pandas as pd
from sklearn import preprocessing

In [9]:
log2(1/(9/14)) * (9/14) + log2(1/(5/14)) * (5/14)

0.9402859586706309

In [10]:
-(5/14) * ((3/5)*log2(3/5) + (2/5)*log2(2/5)) - (4/14)*(log2(1)) - (5/14)*((2/5)*log2(2/5) + (3/5)*log2(3/5))

0.6935361388961918

In [14]:
-(2/5)*((1/2)*log2(1/2)+(1/2)*log2(1/2))

0.4

In [17]:
-(3/5)*((2/3)*log2(2/3) + (1/3)*log2(1/3)) - (2/5)*((1/2)*log2(1/2) + (1/2)*log2(1/2))

0.9509775004326937

In [55]:
golf = pd.read_csv('Data/golf.csv', delimiter=',')
golf.apply(preprocessing.LabelEncoder().fit_transform)
golf

     Outlook  Temp     Hum  Windy Golf
0      Rainy   Hot    High  False   No
1      Rainy   Hot    High   True   No
2   Overcast   Hot    High  False  Yes
3      Sunny  Mild    High  False  Yes
4      Sunny  Cool  Normal  False  Yes
5      Sunny  Cool  Normal   True   No
6   Overcast  Cool  Normal   True  Yes
7      Rainy  Mild    High  False   No
8      Rainy  Cool  Normal  False  Yes
9      Sunny  Mild  Normal  False  Yes
10     Rainy  Mild  Normal   True  Yes
11  Overcast  Mild    High   True  Yes
12  Overcast   Hot  Normal  False  Yes
13     Sunny  Mild    High   True   No

In [50]:
X = golf[['Outlook', 'Temp', 'Hum', 'Windy']]
y = golf[['Golf']]

In [ ]:
def c_entropy(df, var, target):
    total=0
    for i in df[[var]].unique():